---
# SPDX-License-Identifier: copyleft-next-0.3.1
#
# Install knlp dependencies for Debian-based systems

- name: Install KNLP build dependencies
  become: true
  become_method: ansible.builtin.sudo
  ansible.builtin.apt:
    name:
      - python3-pip
      - python3-venv
    state: present
    update_cache: true
  tags: ["knlp", "deps"]
